.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #030e23;
  color: ivory;
  font-family: "Poppins", sans-serif;
}

/* .settime {
  display: flex;
} */
